body{
    display: flex;
}

#container {
    width: 352px;
    height: 352px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    height: 18px;
    width: 18px;
    border: 2px solid black;
}

.hover {
    background-color: black;
}